/build/
/dist/
/.idea/
/.vscode/
nbproject/private/
/webrev
/.src-rev
/.jib/
.DS_Store
.metadata/
.recommenders/
test/nashorn/script/external
test/nashorn/lib
NashornProfile.txt
**/JTreport/**
**/JTwork/**
/.gradle/
.gradletasknamecache
/pre-build/
/src/utils/LogCompilation/target/
/.project/
/.settings/
/.project
/.classpath
/.cproject
commitId.txt
/compile_commands.json
/.cache
